* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.scanerqr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.scannerqr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.scannerqr h2 {
    margin-bottom: 1rem;
}
