*************************************************************
/* *****************         Footer       ********************** */
/* ************************************************************* */
/* CSS Base para todos los tamaños de pantalla */

.linea {
  color: rgb(22, 163, 251);
  display: flex;
  align-items: flex-start;
}

.ubicacion,
.ubicanos,
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 32%;
  padding: 10px 10px;
}
.place {
  display: flex;
  justify-content: flex-start;
}
.footer-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: black;
  color: white;
  width: 100vw;
}

.footer-footer p {
  margin-top: 10px;
}

.ticketFooter {
  display: flex;
  background-color: rgb(48, 48, 48);
  align-items: start;
  justify-content: space-around;
  color: rgb(227, 227, 227);
  margin: 1px 0 0 0;
  font-size: 1em;
  padding: 30px 5px;
  width: 100vw;
}

.icon-color {
  color: rgb(20, 254, 12);
  margin-right: 15px;
}

.icon-color-ub {
  color: rgb(20, 254, 12);
  margin-right: 15px;
}
@media (max-width: 950px) {
  .ticketFooter {
    flex-wrap: wrap;
    font-size: 0.8em;
  }

  .ubicacion,
  .about {
    width: 45%; /* Dos columnas en la misma fila */
  }

  .ubicanos {
    padding: 0 10px;
    width: 95%; /* Tercera columna en fila separada */
  }
  .ticketFooter {
    font-size: 0.8em;
  }

  .phone,
  .correo {
    height: 8px;
    font-size: medium;
  }

  .footer-footer {
    font-size: 0.7rem;
  }
}
/* Consulta de medios para dispositivos móviles */
@media (max-width: 600px) {
  .ticketFooter {
    font-size: 0.7em;
  }

  .ubicacion,
  .ubicanos,
  .about {
    width: 90%; /* Tercera columna en fila separada */
  }

  .ticketFooter {
    font-size: 0.7em;
  }

  .phone,
  .correo {
    height: 8px;
    font-size: medium;
  }
}
