/* ************************************************************* */
/* *****************         Footer       ********************** */
/* ************************************************************* */
/* CSS Base para todos los tamaños de pantalla */

.footer-body {
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-color: rgb(42, 41, 41);
  color: rgb(227, 227, 227);
  margin-bottom: 0;
  font-size: 1em;
  padding: 0px 5px;
  /* width: 100vw; */
}

.icon-color {
  color: rgb(20, 254, 12);
  margin-right: 15px;
}

.icon-color-ub {
  color: rgb(20, 254, 12);
  margin-right: 15px;
}

.linea {
  color: rgb(22, 163, 251);
  display: flex;
  align-items: flex-start;
}
.ubicacion,
.ubicanos,
.abour {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 32%;
  padding: 10px 10px;
}

.footer-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: black;
  color: white;
  /* width: 100vw; */
}

.footer-footer p {
  margin-top: 10px;
}

@media (max-width: 950px) {
  .footer-body {
    flex-wrap: wrap;
    font-size: 0.8em;
  }

  .ubicacion,
  .abour {
    width: 45%; /* Dos columnas en la misma fila */
  }

  .ubicanos {
    padding: 0 10px;
    width: 95%; /* Tercera columna en fila separada */
  }
  .footer-footer {
    font-size: 0.8em;
  }
}

/* Consulta de medios para dispositivos móviles */
@media (max-width: 600px) {
  .footer-body {
    font-size: 0.7em;
  }

  .ubicacion,
  .ubicanos,
  .abour {
    width: 90%; /* Tercera columna en fila separada */
  }
  .footer-footer {
    font-size: 0.7em;
  }
}
