.menu {
  font-family: Arial, sans-serif;
}

.menuItem {
  margin-bottom: 5px;
}

.menuItemTitle {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
}

.menuItemTitle-left {
  background-color: white;
  margin-left: 0;
  transition: width 0.3s ease, margin-left 0.3s ease; /* Agrega transiciones suaves */
  display: none;
}

.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenuItem {
  padding: 5px 20px;
  cursor: pointer;
  background-color: #e0e0e0;
}

.submenuItem-left {
  margin-left: 0;
  transition: width 0.3s ease, margin-left 0.3s ease; /* Agrega transiciones suaves */
  display: none;
}

.submenuItem:hover {
  background-color: #d0d0d0;
}

@media (max-width: 650px) {
  .menu {
    font-size: 10px;
  }
}
